<section class="cart-page section-padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="card card-body cart-table">
               <div class="table-responsive">
                  <table class="table cart_summary">
                     <thead>
                        <tr>
                           <th class="cart_product">Plat</th>
                           <th>Description</th>
                           <th>Disponibilité</th>
                           <th>Prix</th>
                           <th>Quantité</th>
                           <th>Total</th>
                           <th class="action">
                             <%= link_to root_url, method: :post, action: "empty", class: "btn btn-dark float-right" do %>
                               <i class="mdi mdi-delete-forever"></i>Vider le panier
                             <% end %>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                       <% @panier.plats.each do |plat| %>
                        <tr>
                           <td class="cart_product"><%= link_to plat_path(id: plat.id) do %>
                             <%= image_tag plat.photo_plat %>
                             <% end %>
                           </td>
                           <td class="cart_description">
                              <h5 class="product-name"><%= link_to plat.titre, plat_path(id: plat.id) %>  </h5>
                           </td>
                           <td class="availability in-stock"><span class="badge badge-success"><%= plat.plage_horaire %></span></td>
                           <td class="price"><span><%= plat.prix %> €</span></td>
                           <td class="qty">
                              <div class="input-group">
                                 <%= link_to remove_item_path(plat_id: plat.id), method: :post, action: "remove_item" do %>
                                   <span class="input-group-btn"><button
                                     <% if @panier.paniers_plats.find_by(plat_id: plat.id).quantité == 1 %>
                                       disabled="disabled"
                                     <% end %>
                                     class="btn btn-theme-round btn-number" type="button">-</button></span>
                                 <% end %>
                                 <input type="text" max="10" min="1" value=<%= @panier.paniers_plats.find_by(plat_id: plat.id).quantité %> class="form-control border-form-control form-control-sm input-number" name="quant[1]">
                                 <%= link_to add_item_path(plat_id: plat.id), method: :post, action: "add_item" do %>
                                   <span class="input-group-btn"><button
                                     <% if @panier.paniers_plats.find_by(plat_id: plat.id).quantité >= plat.stock %>
                                       disabled="disabled"
                                     <% end %>
                                     class="btn btn-theme-round btn-number" type="button">+</button></span>
                                 <% end %>
                              </div>
                           </td>
                           <td class="price"><span><%= plat.prix*(@panier.paniers_plats.find_by(plat_id: plat.id).quantité)  %> €</span></td>
                           <td class="action">
                             <%= link_to destroy_item_path(plat_id: plat.id), method: :post, action: "destroy_item", data: { toggle: 'tooltip', placement: 'top', original_title: 'Retirer du panier' }, class: "btn btn-sm btn-danger" do %>
                              <i class="mdi mdi-close-circle-outline"></i></a>
                             <% end %>
                           </td>
                        </tr>
                      <% end %>
                     </tbody>
                     <tfoot>
                        <tr>
                           <td class="text-right" colspan="5"><strong>Total</strong></td>
                           <td class="text-danger" colspan="2"><strong><%= current_user.panier.plats.map{|plat| plat.prix*(@panier.paniers_plats.find_by(plat_id: plat.id).quantité)}.sum %> € </strong></td>
                        </tr>
                     </tfoot>
                  </table>
               </div>
               <%= link_to order_path do %>
                 <button class="btn btn-secondary btn-lg btn-block text-left" type="button"><span class="float-left"><i class="mdi mdi-cart-outline"></i> Passer la commande </span><span class="float-right"><strong><%= current_user.panier.plats.map{|plat| plat.prix*(@panier.paniers_plats.find_by(plat_id: plat.id).quantité)}.sum %> €</strong> <span class="mdi mdi-chevron-right"></span></span></button>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</section>
