<p id="notice"><%= notice %></p>

<h1>Paniers</h1>

<table>
  <thead>
    <tr>
      <th>Quantité</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paniers.each do |panier| %>
      <tr>
        <td><%= panier.quantité %></td>
        <td><%= link_to 'Show', panier %></td>
        <td><%= link_to 'Edit', edit_panier_path(panier) %></td>
        <td><%= link_to 'Destroy', panier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Panier', new_panier_path %>
