<p id="notice"><%= notice %></p>

<h1>Plats</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plat.each do |plat| %>
      <tr>
        <td><%= plat.titre%></td>
        <td><%= plat.prix%></td>
        <td><%= plat.description%></td>
        <td><%= link_to 'Show', plat_path(plat.id) %></td>
        <td><%= link_to 'Edit', plat_path(plat.id) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plat', new_plat_path %>
