<center>
  <%= form_for(:plat, html: {method: :post, action: "create"}) do |form| %>
    <% if @plat.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@plat.errors.count, "erreurs") %> ont empêchés le plat de se générer :</h2>

        <ul>
        <% @plat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :titre, class: "control-label" %><br />
      <%= form.text_field :titre, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description, class: "control-label" %><br />
      <%= form.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :prix, class: "control-label" %><br />
      <%= form.text_field :prix, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :stock, class: "control-label" %><br />
      <%= form.text_field :stock, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :plage_horaire, class: "control-label"%><br />
      <%= form.text_field :plage_horaire, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :photo_plat, class: "control-label" %><br />
      <%= form.file_field :photo_plat, class: "form-control" %>
    </div>
    <div class="actions">
      <%= form.submit "créer plat", class: "a-93 a-btn a-btn-orange" %>
    </div>
  <% end %>
</center>
