<%= form_with(model: @plat, local: true) do |form| %>
  <% if @plat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plat.errors.count, "error") %> prohibited this panier from being saved:</h2>

      <ul>
      <% @plat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="field">
    <%= form.label :prix %>
    <%= form.text_field :prix %>
  </div>
  <div class="field">
    <%= form.label :stock %>
    <%= form.text_field :stock %>
  </div>
  <div class="field">
    <%= form.label :plage_horaire%>
    <%= form.text_field :plage_horaire %>
  </div>

  <div class="field">
    <%= form.label :photo_plat %>
    <%= form.file_field :photo_plat %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
