<div class="container">
    <div class="row">
     <div class="col-md-6">
        <div class="shop-detail-left">
           <div class="shop-detail-slider">
          <%= image_tag @plat.photo_plat.variant(resize: '450x300').processed %>
           </div>
        </div>
     </div>
     <div class="col-md-6">
        <div class="shop-detail-right">
           <span style="font-size:2.5em;"><%= @plat.titre.capitalize %></span>
           <span class="offer-price mb-0 float-right">Prix: <span class="text-success"><%= @plat.prix %>€</span></span><br>
           <% if current_user %>
             <%= link_to paniers_path(id: @plat.id), action: "ajout_panier",method: :post do %>
               <% if !Panier.find_by(user_id: current_user.id) %>
                 <% Panier.create(user_id: current_user.id) %>
               <% end %>
               <button type="button" class="btn btn-secondary btn-lg"><i class="mdi mdi-cart-outline"></i> Emporte moi</button>
             <% end %>
           <% else %>
             <%= link_to new_user_session_path do %>
             <button type="button" class="btn btn-secondary btn-lg"><i class="mdi mdi-cart-outline"></i> Emporte moi</button>
             <% end %>
           <% end %>
           <div class="short-description">
              <h5>
                 Description
                 <p class="float-right">Disponibilité : <span class="badge badge-success">
                  <% if @plat.stock > 0 %>
                   En stock ( <%= @plat.stock %> )
                  <% else %>
                   Rupture de stock
                  <% end %>
                 </span></p>
              </h5>
              <p><%= @plat.description %></p>
           </div>
           <div class="short-description">
             Ce plat vous est proposé par :
             <% if @plat.user_id %>
                <%= link_to particulier_path(name:@user.nom) do %>
                  <%= @user.prénom %> <%= @user.nom %> <%= image_tag @user.image_profile, style: "width:80px;border-radius: 50%;" %>
                <%end%>
             <% elsif @plat.restaurant_id %>
             <%= link_to restaurant_path(name: @resto.nom) do %>
               <%= @resto.nom %> <%= image_tag @resto.image_resto, style: "width:80px;border-radius: 50%;" %>
              <% end %>
             <% end %>
           </div>
        </div>
     </div>
  </div>
</div>
