<center>
  <h5 class="heading-design-h5">S'inscrire en tant que particulier</h5>
  <%= form_for(:user, url: registration_path(:user), html: {id: "new"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :prénom %><br />
      <%= f.text_field :prénom, autofocus: true, placeholder: "prénom", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :nom %><br />
      <%= f.text_field :nom, placeholder: "nom", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :ville %><br />
      <%= f.text_field :ville, placeholder: "ville", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :téléphone %><br />
      <%= f.text_field :téléphone, placeholder: "téléphone", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: "email", class: "form-control", id: "mail" %>
    </div>

    <div class="form-group">
      <%= f.label :Mot_de_passe %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "********", class: "form-control", id:"pass" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, placeholder: "********", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Inscription", class:"btn btn-lg btn-secondary"%>
    </div>

    <%= link_to "Me connecter", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Je suis un restaurant", new_restaurant_registration_path, class: "btn btn-primary" %>
  <% end %>
</center>
