<h4>Poster un Commentaire</h4>
<%= form_for @comment do |f| %>
  <%= f.label :titre %>:
  <%= f.text_field :titre %><br />

  <%= f.label :body %>:
  <%= f.text_field :body %><br />

  <%= f.submit %>
<% end %>