<%= render "layouts/bigcarousel"%>
<section class="product-items-slider section-padding">
   <div class="container">
      <div class="section-header">
         <h5 class="heading-design-h5">Les plats du moment
            <a class="float-right text-secondary" href="shop.html">Voir plus</a>
         </h5>
      </div>
      <div class="owl-carousel owl-carousel-featured">
        <% Plat.all.each do |plat| %>
           <div class="item">
              <div class="product">
                 <a href="single.html">
                    <div class="product-header">
                       <%= image_tag plat.image_url %>
                    </div>
                    <div class="product-body">
                       <h5><%= plat.titre %></h5>
                       <h6><strong> Disponibilité : </strong> <%= plat.plage_horaire %></h6>
                    </div>
                    <div class="product-footer">
                      <% if current_user %>
                        <%= link_to paniers_path(id: plat.id), action: "ajout_panier",method: :post, class: "btn btn-secondary btn-sm float-right" do %>
                          <% if !Panier.find_by(user_id: current_user.id) %>
                            <% Panier.create(user_id: current_user.id) %>
                          <% end %>
                          <i class="mdi mdi-cart-outline"></i> Ajouter au panier
                        <% end %>
                      <% else %>
                        <%= link_to new_user_session_path, class: "btn btn-secondary btn-sm float-right" do %>
                          <i class="mdi mdi-cart-outline"></i> Ajouter au panier
                        <% end %>
                      <% end %>
                      <p class="offer-price"><%= plat.prix %>€</p>
                    </div>
                 </a>
              </div>
           </div>
         <% end %>
      </div>
   </div>
</section>


<section class="section-padding bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-truck-fast"></i>
               <h6>Livraison possible à venir !</h6>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-basket"></i>
               <h6>Simplicité de commande</h6>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Footer -->
<section class="section-padding footer bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h4 class="mb-5 mt-0"><a class="logo" href="index.html"><img src="assets/img/logo-footer.png" alt="Groci"></a></h4>
            <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone"></i> 06 36 65 65 65</a></p>
            <p class="mb-0"><a class="text-success" href="#"><i class="mdi mdi-email"></i> nicolaslucain@gmail.com</a></p>
            <p class="mb-0"><a class="text-primary" href="#"><i class="mdi mdi-web"></i> nicolebgdu44.fr</a></p>
         </div>
      </div>
   </div>
</section>

<section class="pt-4 pb-4 footer-bottom">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-lg-6 col-sm-6">
	        <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by THP-nantes</small>
         </div>
      </div>
   </div>
</section>
