<%= render "layouts/bigcarousel"%>
<section class="product-items-slider section-padding">
   <div class="container">
      <div class="section-header">
         <h5 class="heading-design-h5">Les plats du moment
            <a class="float-right text-secondary" href="shop.html">Voir plus</a>
         </h5>
      </div>
      <div class="owl-carousel owl-carousel-featured">
        <% Plat.all.each do |plat| %>
           <div class="item">
              <div class="product">
                 <a href="single.html">
                    <div class="product-header">
                       <%= image_tag plat.image_url %>
                    </div>
                    <div class="product-body">
                       <h5><%= plat.titre %></h5>
                       <h6><strong> Disponibilité : </strong> <%= plat.plage_horaire %></h6>
                    </div>
                    <div class="product-footer">
                       <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Ajouter au panier</button>
                       <p class="offer-price mb-0"><%= plat.prix %>€<br></p>
                    </div>
                 </a>
              </div>
           </div>
         <% end %>
      </div>
   </div>
</section>


<section class="section-padding bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-truck-fast"></i>
               <h6>Livraison possible à venir !</h6>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-basket"></i>
               <h6>Simplicité de commande</h6>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Footer -->
<section class="section-padding footer bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h4 class="mb-5 mt-0"><a class="logo" href="index.html"><img src="assets/img/logo-footer.png" alt="Groci"></a></h4>
            <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone"></i> 06 36 65 65 65</a></p>
            <p class="mb-0"><a class="text-success" href="#"><i class="mdi mdi-email"></i> nicolaslucain@gmail.com</a></p>
            <p class="mb-0"><a class="text-primary" href="#"><i class="mdi mdi-web"></i> nicolebgdu44.fr</a></p>
         </div>
      </div>
   </div>
</section>

<!-- Copyright -->
<section class="pt-4 pb-4 footer-bottom">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-lg-6 col-sm-6">
	        <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by THP-nantes</small>
         </div>
      </div>
   </div>
</section>
<!-- End Copyright -->
<div class="cart-sidebar">
   <div class="cart-sidebar-header">
      <h5>
         My Cart <span class="text-success">(5 item)</span> <a data-toggle="offcanvas" class="float-right" href="#"><i class="mdi mdi-close"></i>
         </a>
      </h5>
   </div>
   <div class="cart-sidebar-body">
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="http://via.placeholder.com/917x1000" alt="">
         <span class="badge badge-success">50% OFF</span>
         <h5><a href="#">Product Title Here</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
         <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="http://via.placeholder.com/917x1000" alt="">
         <span class="badge badge-success">50% OFF</span>
         <h5><a href="#">Product Title Here</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
         <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="http://via.placeholder.com/917x1000" alt="">
         <span class="badge badge-success">50% OFF</span>
         <h5><a href="#">Product Title Here</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
         <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="http://via.placeholder.com/917x1000" alt="">
         <span class="badge badge-success">50% OFF</span>
         <h5><a href="#">Product Title Here</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
         <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="http://via.placeholder.com/917x1000" alt="">
         <span class="badge badge-success">50% OFF</span>
         <h5><a href="#">Product Title Here</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
         <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
      </div>
   </div>
   <div class="cart-sidebar-footer">
      <div class="cart-store-details">
         <p>Sub Total <strong class="float-right">$900.69</strong></p>
         <p>Delivery Charges <strong class="float-right text-danger">+ $29.69</strong></p>
         <h6>Your total savings <strong class="float-right text-danger">$55 (42.31%)</strong></h6>
      </div>
      <a href="checkout.html"><button class="btn btn-secondary btn-lg btn-block text-left" type="button"><span class="float-left"><i class="mdi mdi-cart-outline"></i> Proceed to Checkout </span><span class="float-right"><strong>$1200.69</strong> <span class="mdi mdi-chevron-right"></span></span></button></a>
   </div>
</div>
