<section class="account-page section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-9 mx-auto">
            <div class="row no-gutters">
               <div class="col-md-4">
                  <div class="card account-left">
                     <div class="user-profile-header">
                        <h5 class="mb-1 text-secondary"><%= @resto.nom.capitalize %></h5>
                        <p> <%= show_num(@resto.téléphone) %></p>
                     </div>
                     <div class="list-group">
                        <a href=<%= mon_restaurant_path %> class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-account-outline"></i>  Mon Restaurant</a>
                        <a href=<%= mes_plats_path %> class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Mes Plats</a>
                        <%= link_to(destroy_restaurant_session_path, class: "list-group-item list-group-item-action", method: :delete) do %>
                          <i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Se déconnecter
                        <% end %>
                        <%= link_to registration_path(:restaurant), data: { confirm: "Are you sure?" }, method: :delete, class: "list-group-item list-group-item-action bg-danger text-white" do %>
                          <i aria-hidden="true" class="mdi mdi-alert-circle"></i>  Détruire mon compte
                        <% end %>
                      </div>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="card card-body account-right">
                     <div class="widget">
                       A venir
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
