<section class="account-page section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-9 mx-auto">
            <div class="row no-gutters">
               <div class="col-md-4">
                  <div class="card account-left">
                     <div class="user-profile-header">
                        <h5 class="mb-1 text-secondary"> <%= @resto.nom.capitalize %></h5>
                        <p> <%= show_num(@resto.téléphone) %></p>
                     </div>
                     <div class="list-group">
                        <a href=<%= profil_path %> class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-account-outline"></i>  Mon Restaurant</a>
                        <a href=<%= mes_plats_path %> class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Mes plats</a>
                        <%= link_to(destroy_user_session_path, class: "list-group-item list-group-item-action", method: :delete) do %>
                          <i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Se déconnecter
                        <% end %>
                      </div>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="card card-body account-right">
                     <div class="widget">
                        <div class="section-header">
                           <h5 class="heading-design-h5">
                              Mon restaurant
                           </h5>
                        </div>
                        <%= form_for(:restaurant, url: registration_path(:restaurant), html: { method: :put }) do |f| %>
                          <%= devise_error_messages! %>
                           <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group profil">
                                  <%= f.label :nom, class: "control-label" %><br />
                                  <%= f.text_field :nom, autofocus: true, autocomplete: "nom", class: "form-control border-form-control" %>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group profil">
                                 <%= f.label :téléphone, class: "control-label" %><br />
                                 <%= f.text_field :téléphone, autocomplete: "téléphone", class: "form-control border-form-control" %>
                                </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group profil">
                                  <%= f.label :adresse, class: "control-label" %><br />
                                  <%= f.text_field :adresse, autocomplete: "adresse" ,class: "form-control border-form-control" %>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group profil">
                                   <%= f.label :email, class: "control-label" %><br />
                                   <%= f.email_field :email, autocomplete: "email", class: "form-control border-form-control" %>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group profil">
                                   <%= f.label "mot de passe actuel", class: "control-label" %><br />
                                   <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control border-form-control" %>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-6">
                                 <div class="form-group profil">
                                   <%= f.label "nouveau mot de passe", class: "control-label" %><br />
                                   <%= f.password_field :password, autocomplete: "nouveau mot de passe", class: "form-control border-form-control" %>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group profil">
                                   <%= f.label "confirmer le mot de passe", class: "control-label" %><br />
                                   <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border-form-control" %>
                                 </div>
                              </div>
                           </div>
                           <center><small><em>^ Laisser blanc si inchangé ^</em></small></center>
                           <div class="row">
                              <div class="col-sm-12 text-right">
                                 <%= button_to "Détruire mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
                                 <%= f.submit "Mettre à jour", class: "btn btn-success" %>
                              </div>
                           </div>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
