
    <div class=block-shearch>
   <%= form_for @search, html:{ class:"pure-form",method: :post } do |s|%>

    <div class="field">
    <%= s.label :keyword %> <br>
    <%= s.text_field :keyword %>
    </div>

    <div class="field">
        <%= s.label :category %> <br>
        <%= s.select :category, options_for_select(@categories), :include_blank => true %>
    </div>

    <div class="field">
        <%= s.label :min_price, "Min_price" %> - <%= s.text_field :min_prix, size: 10 %>
        <%= s.label :max_price, "Max price" %> - <%= s.text_field :max_prix, size: 10 %>
    </div>

    <div class="field">
            <%= s.label :prénom %> user <br>
            <%= s.text_field :prénom %> 
    </div>

    <div class="field">
            <%= s.label :nom %> resto <br>
            <%= s.text_field :nom %> 
    </div>
    <%=  s.submit "Advanced Search", class: "pure-button pure-button-primary"  %>

    <% end %>
    </div>