<div class="col-md-9">
               
    <h5 class="mb-3">Reseach</h5>
 </div>
 <div class="card-container" style="heigth:500px">
    <% @search.search_plats.each do |search| %>
    <div class="card" style="width: 222px">
        
        <div class="item">
           <div class="product">
              <%= link_to plat_path(id: search.id) do %>
                 <div class="product-header">
                  <%= image_tag search.photo_plat, style: "object-fit:cover" %>
                 </div>
                 <div class="product-body">
                    <h5><%= search.titre %></h5>
                    <h6><strong> Disponibilité : </strong> <%= search.plage_horaire %></h6>
                 </div>
                 <div class="product-footer">
                   
                   <p class="offer-price"><%= search.prix %>€</p>
                 </div>
             <% end %>
           </div>
        </div>
      
    </div>
    <% end %>
</div>