<nav class="navbar bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href=<%= root_url %>> <%= image_tag 'img/logo.png' %> </a>
         <div class="my-2 my-lg-0">
            <ul class="list-inline main-nav-right">
              <% if current_user %>
                <li class="list-inline-item text-white">
                  <%= current_user.prénom.capitalize %> <%= current_user.nom.capitalize %>
                </li>
                <li class="list-inline-item">
                  <%= link_to('Se déconnecter', destroy_user_session_path, method: :delete, class: 'btn btn-danger', style: {"border-right": "1px solid red"}) %>
                </li>
                <li class="list-inline-item cart-btn">
                   <a href="#" data-toggle="offcanvas" class="btn btn-link border-none"><i class="mdi mdi-cart"></i> Mon panier <small class="cart-value">
                     <% if current_user.panier %>
                       <%= current_user.panier.plats.count %>
                     <% end %>
                   </small></a>
                </li>
              <% elsif current_restaurant %>
                <li class="list-inline-item text-white">
                   <%= current_restaurant.nom.capitalize %>
                </li>
                <li class="list-inline-item">
                  <%= link_to('Se déconnecter', destroy_restaurant_session_path, method: :delete, class: 'btn btn-danger', style: {"border-right": "1px solid red"}) %>
                </li>
              <% else %>
                <li class="list-inline-item">
                  <%=link_to "", class: "btn btn-link", data: {target: "#bd-example-modal", toggle: "modal" } do %>
                    <i class="mdi mdi-account-circle"></i> Se connecter / S'inscrire
                  <% end %>
                </li>
                <li class="list-inline-item cart-btn">
                   <a href="#" data-toggle="offcanvas" class="btn btn-link border-none"><i class="mdi mdi-cart"></i> Mon panier <small class="cart-value">
                     0
                   </small></a>
                </li>
              <% end %>


            </ul>
         </div>
      </div>
   </div>
</nav>
