<!DOCTYPE html>
<html>
  <head>
    <title>EmporteMoi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125787614-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125787614-1');
    </script>

  </head>

  <body>
    <%= render "layouts/modal"%>
    <%= render "layouts/header"%>
    <%= yield %>
    <%= render "layouts/cart"%>
    <%= render "layouts/contacts"%>
    <%= render "layouts/footer"%>
  </body>
</html>
