<!DOCTYPE html>
<html>
  <head>
    <title>EmporteMoi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'Emporte-moi.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/google_analytics"%>
  </head>

  <body>
    <%= render "layouts/modal"%>
    <%= render "layouts/header"%>
    <%= yield %>
    <%= render "layouts/contacts"%>
    <%= render "layouts/cart"%>
    <%= render "layouts/footer"%>
  </body>
</html>
